<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Puedes agregar tu archivo CSS aquí -->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/realtimeproducts">Productos en Tiempo Real</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>© 2024 Proyecto Backend</p>
    </footer>
</body>
</html>
